.mapSection{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 80px;
    padding: 10px 0px;
    flex-direction: row;
    align-items: center;
}

.mapControlContainer{
    width: 30%;
    height: 450px;
}

.mapContainer{
    width: 70%;
    height: 450px;
}

.tableSection{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tableContainer{
   height: 350px;
   overflow-y: auto;
}
  .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }