
  /* Map Section */
.mapSection{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 80px;
    flex-direction: row;
    align-items: center;
}

.mapControlContainer{
    width: 40%;
    height: 500px;
}

.mapContainer{
    width: 60%;
    height: 500px;
    padding: 15px;
}

.mapFiltersContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 10px;
}

  /* Table Filters Section */

.tableFilters{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.tableFilter{
    width: 30%;
    margin: 10px 20px;
}
.riskSelector{
  display: flex;
  flex-direction: row;
}
.comparatorSelector{
  width: 50%;
}

  /* Table Section */

.tableSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top:60px ;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableContainer{
  width: 1400px;
   height: 280px;
   overflow-y: auto;
}
  .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }

  .tablePagination{
    display: flex;
    align-items: center;
  }

  .arrowLeft{
    margin: 5px;
    width: 15px;
    height: 15px;
  }
  .arrowRight{
    margin: 5px;
    width: 15px;
    height: 15px;
    transform: scaleX(-1);
  }

  .sortingContainer{
    display: flex;
    align-items: center;
    justify-content:space-evenly

  }
  .sortArrow{
    display: inline;
    cursor: pointer;
    width: 30px;
  }


  /* Graph Section */

  .graphSection{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
  }
  .graphFiltersContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
  }

  .graphContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
  }


  /* About Section */

  .aboutSection{
    padding: 35px;
  }